*{
    padding: 0;
    margin: 0;
    border: 0;
}
*, *:before, *:after{
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
:focus, :active{outline: none;}
a:focus, a:active{outline: none;}
nav, footer, header, aside{display: block;}
html, body{
    height: 100%;
    width: 100%;
    font-size: 100%;
    line-height: 1;
    font-size: 14px;
    -ms-text-size-adjust: 100%;
    -moz-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
}
input, button, textarea{font-family: inherit;}
input::-ms-clear{display: none;} /*убирает крестик в поле input в браузере интернет эксплорер*/
button{cursor: pointer;}
button::-moz-focus-inner{padding: 0; border: 0;}
a, a:visited{text-decoration: none;}
a:hover{text-decoration: none;}
ul li{list-style: none;}
img{vertical-align: top;}
h1, h2, h3, h4, h5, h6{font-size: inherit; font-weight: 400;}


/* ----------- Работа гамбургер меню только при помощи HTML и CSS ----------- */
body{
    padding: 5%;
}

h1{    
    width: 100%;
    font-size: 2.5em;
    text-align: center;

    /* border: 5px solid green; */
}

.example_1{
    margin-top: 50px;
    
    font-size: 1.5em;
    text-align: left;
    text-decoration: underline;

    /* border: 5px solid green; */
}

.menu__btn{
    position: absolute;
    margin-top: 50px;
    right: 5%;

    display: flex;
    align-items: center; /*выравнивание контента вертикально по центру блока*/
    justify-content: center; /*выравнивание контента горизонтально по центру блока (в данном примере не нужен)*/
    
    width: 30px;
    height: 18px;
    cursor: pointer;

    /* border: 1px solid red; */
}

.menu__btn > span,
.menu__btn > span::before,
.menu__btn > span::after{
    display: block;
    position: absolute;
    width: 100%;
    height: 2px;
    background-color: #616161;
    transition-duration: .5s; /*Замедление*/
}
.menu__btn > span::before{
    content: "";
    top: -8px;
    transition-duration: .5s; /*Замедление*/
}
.menu__btn > span::after{
    content: "";
    top: 8px;
    transition-duration: .5s; /*Замедление*/
}


/* ----------- Еще способ сделать гммбургер и крест --------------------*/
/* .menu__btn > span{
    display: block;
    width: 100%;
    height: 2px;
    background-color: #616161;
    position: absolute;
}
.menu__btn > span:nth-child(2){
    top: 50%;
    transform: translate(0, -50%);
}
.menu__btn > span:nth-child(3){
    top: 100%;
    transform: translate(0, -100%);
} */


/* .menu__btn > span{
    display: block;
    width: 100%;
    height: 2px;
    background-color: #616161;
    position: absolute;
    transform: rotate(45deg);
}
.menu__btn > span:nth-child(2){

    transform: rotate(135deg);
}
.menu__btn > span:nth-child(3){

    transform: rotate(135deg);
} */
/* ----------- Еще способ сделать гммбургер и крест --------------------*/


#menu__toggle{
    display: none;
}

.menu__box{
    position: absolute;
    visibility: hidden;
    margin-top: 50px;
    left: 5%;
    text-align: left;
    font-size: 1.5em;

    /* border: 1px solid blue; */
}

.menu__item{
    display: block;
    margin-bottom: 10px;
    position: relative;
    padding-left: 25px;

    /* border: 1px solid yellow; */
}
.menu__item a{
    color: black;
}
.menu__item a:hover{
    color: rgb(128, 183, 179);
}
.menu__item::before{
    content: "";
    background-image: url("/hamburger-menu/images/liz15_green.png");
    background-repeat: no-repeat;
    width: 15px;
    height: 11px;
    position: absolute;
    top: 5px;
    left: 0px;
}
.menu__item:hover::before{
    background-image: none;
}


#menu__toggle:checked ~ .menu__btn > span{
    transform: rotate(45deg);
}
#menu__toggle:checked ~ .menu__btn > span::before{
    top: 0;
    transform: rotate(90deg);
}
#menu__toggle:checked ~ .menu__btn > span::after{
    top: 0;
    transform: rotate(0deg);
}
#menu__toggle:checked ~ .menu__box{
    visibility: visible;
}

/* ----------- Работа гамбургер меню только при помощи CSS ----------- */
